@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');

.cts-notify {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  width: 95%;
  max-width: 1000px;
  border-radius: 5px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'EB Garamond', serif;

  &.success {
    background-color: #00b300;
  }

  &.error {
    background-color: #ff0000;
  }

  &.warning {
    background-color: #ffc000;
  }

  &.info {
    background-color: #00b3ff;
  }

  .icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .message {
    padding: 5px;
    margin: 10px;
    max-width: 300px;
    word-wrap: break-word;
    word-break: break-all;
    text-align: center;
    font-size: 20px;
  }
}
